header {
  background-color: #eee;
  height: 100px;
  line-height: 100px;
  text-align: center;
}


.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2000px;
}

.item {
  display: flex;
  align-items: center;
  width: 25%;
  height: 250px;
}

.item1 {
  background-color: pink;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  bottom: 50%;
}

.item2 {
  background-color: skyblue;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  top: 0;
  bottom: 10%;
}

.item3 {
  background-color: darkred;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  top: 50%;
}

.item4 {
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  top: 50px;
  bottom: 200px;
}


footer {
  background-color: #222;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 30px;
  text-align: center;
}
