header {
  background-color: #eee;
  height: 100px;
  line-height: 100px;
  text-align: center;
}


.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2000px;
}

.item {
  display: flex;
  align-items: center;
  width: calc(100% / 8);
  height: 150px;
}

.item1 {
  background-color: pink;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  bottom: 50%;
}

.item2 {
  background-color: skyblue;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: 10%;
}

.item3 {
  background-color: darkred;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 50%;
}

.item4 {
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  top: 50px;
  bottom: 200px;
}

.item5 {
  background-color: orange;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 350px;
  bottom: 20px;
}

.item6 {
  background-color: green;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
  bottom: 400px;
}

.item7 {
  background-color: blue;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: 0;
}

.item8 {
  background-color: red;
  box-sizing: border-box;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 300px;
  bottom: 200px;
}


footer {
  background-color: #222;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 30px;
  text-align: center;
}
